{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Signup</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- RECAPTCHA CDN -->
    <script src="https://www.google.com/recaptcha/api.js" async defer> </script>
</head>

<body>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-0">
                    <img src="{% static 'signup.svg' %}" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3>Sign Up </h3>
                            </div>
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group first">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" name="username" required>

                                </div>
                                <div class="form-group first">
                                    <label for="username">Email</label>
                                    <input type="text" class="form-control" name="email" required>

                                </div>
                                <div class="form-group last mb-4">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" name="password1" required>                                  
                                </div>

                                <div class="form-group last mb-4">
                                    <label for="password">Confirm Password</label>
                                    <input type="password" class="form-control" name="password2" required>
                                </div>

                                <div class="my-4">
                                    <div class="g-recaptcha" data-sitekey="{{site_key}}"></div>
                                </div>

                                <input type="submit" value="Sign Up" class="btn text-white btn-block btn-primary">

                                <span class="d-block text-left my-4 text-muted"> or <a href="/login" class="h5"
                                        style="color: blue;">sign in </a> </span>
                            </form>
                            {% if form.errors %}
                            {% for field in form %}
                            {% for error in field.errors %}
                            <div class="alert alert-danger my-4">
                                <p class="m-0">{{ error|escape }}</p>
                            </div>
                            {% endfor %}
                            {% endfor %}
                            {% endif %}
                            {% if message %}
                            <div class="alert alert-danger my-4">
                                <p class="m-0">{{ message }}</p>
                            </div>
                            {% endif %}
                            {% if success %}
                            <div class="alert alert-success my-4">
                                <p class="m-0">{{ success }}</p>
                            </div>
                            {% endif %}

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>